.container{
    padding: 10px;
    display: flex;
    justify-content: space-between;
  }
  
  .button{
    background-color: #6f6af8;
    padding: 7px 23px;
    color: #f2f2fc;
    border-radius: 10vh;
    border: none;
    margin-top: 2rem;
    cursor: pointer;
  }
  
  .button:disabled{
    cursor: not-allowed;
  }