.container {
    height: 450px;
    background-color: var(--bgSoft);
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 4px 13px rgba(0, 0, 0, 0.1); 
}

.title {
    color: #17144d;
    font-family: "DM Sans", sans-serif;
    font-weight: bold;
    font-size: 1.8rem;
    margin-left: 10px;  
    margin-bottom: 20px;
}