.container {
  max-width: 60%;
  padding: 20px;
  border-radius: 15px;
  margin: 2rem auto 20px; /* Cambié esto para que el margen superior sea 2rem y se aplique después */
  background-color: white;
  box-shadow: 0 4px 13px rgba(0, 0, 0, 0.1);
}

.form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.column {
  display: flex;
  flex-direction: column;
  width: 45%;
}

.formcompl {
  display: flex;
  flex-direction: row;
  gap: 3.7rem;
  justify-content: center;
  width: 100%; /* Añadí esto para asegurar que ocupe todo el ancho */
}

.form input,
.form select,
.form textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 30px;
  border: 1px solid #a3aed0;
  border-radius: 10px;
  box-sizing: border-box;
}

.form input:focus,
.form textarea:focus,
.form select:focus {
  outline: none;
  border-color: #6f6af8;
}

.form input,
.form select {
  margin-right: 5%; /* Ajusté el margen derecho para separar los elementos */
}

.form textarea {
  width: 100%;
}

.form button {
  width: 30%;
  margin: 0 auto;
  padding: 10px;
  background-color: #6f6af8;
  color: #fff;
  border: none;
  border-radius: 20px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s;
}

.form button:hover {
  background-color: #5555ff; /* Cambié el color de fondo del botón al hacer hover */
}
.form h3 {
  font-size: 15px;
  margin-bottom: 9px;
}
