.container {
    display: flex;
    align-items: center;
    gap: 10px;
    background-color: #f2f2fc;
    padding: 10px;
    border-radius: 20px;
    width: max-content;
    margin-bottom: 1rem;
  }
  
  .input {
    background-color: transparent;
    border: none;
    color: black;
    outline: none;
  }